<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Description')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-description" class="form-control " rows="5" name="row[description]" cols="50">{$row.description|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tournament_type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-tournament_type" data-rule="required" class="form-control selectpicker" name="row[tournament_type]">
                {foreach name="tournamentTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.tournament_type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Blind_template_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            {$blindTemplateList}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Buy_in_points')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-buy_in_points" data-rule="required" class="form-control" name="row[buy_in_points]" type="number" value="{$row.buy_in_points|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Buy_in_coupon_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            {$couponList}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Buy_in_type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-buy_in_type" data-rule="required" class="form-control selectpicker" name="row[buy_in_type]">
                {foreach name="buyInTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.buy_in_type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Initial_chips')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-initial_chips" data-rule="required" class="form-control" name="row[initial_chips]" type="number" value="{$row.initial_chips|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Max_players')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-max_players" data-rule="required" class="form-control" name="row[max_players]" type="number" value="{$row.max_players|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Min_players')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-min_players" data-rule="required" class="form-control" name="row[min_players]" type="number" value="{$row.min_players|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Start_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-start_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[start_time]" type="text" value="{$row.start_time}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Late_registration_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-late_registration_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[late_registration_time]" type="text" value="{$row.late_registration_time}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Estimated_duration')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-estimated_duration" data-rule="required" class="form-control" name="row[estimated_duration]" type="number" value="{$row.estimated_duration|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tournament_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="tournamentStatusList" item="vo"}
            <label for="row[tournament_status]-{$key}"><input id="row[tournament_status]-{$key}" name="row[tournament_status]" type="radio" value="{$key}" {in name="key" value="$row.tournament_status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Registration_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="registrationStatusList" item="vo"}
            <label for="row[registration_status]-{$key}"><input id="row[registration_status]-{$key}" name="row[registration_status]" type="radio" value="{$key}" {in name="key" value="$row.registration_status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Current_level')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-current_level" data-rule="required" class="form-control" name="row[current_level]" type="number" value="{$row.current_level|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Current_players')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-current_players" data-rule="required" class="form-control" name="row[current_players]" type="number" value="{$row.current_players|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Current_tables')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-current_tables" data-rule="required" class="form-control" name="row[current_tables]" type="number" value="{$row.current_tables|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Auto_balance')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-auto_balance" data-rule="required" class="form-control" name="row[auto_balance]" type="number" value="{$row.auto_balance|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Created_at')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-created_at" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[created_at]" type="text" value="{$row.created_at}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Updated_at')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-updated_at" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[updated_at]" type="text" value="{$row.updated_at}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
